.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;

}

.Anime-Container {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
}

.Anime-Quote {
  font-style: italic;
}

button {
  width: 20vw;
  margin-top: 2%;
}